@mixin bg-color {
  background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 150%);
}
$primary-color: #d15e71;
body {
  background-color: rgb(175, 175, 175);
  font-family: "Roboto Condensed";


  @include bg-color;
}

.container {
    text-align: center;
}

.pom {
    color: rgb(240, 239, 224);
    letter-spacing: .15rem;
    font-size: 3rem;
    
}

.pom-counter {
    color: rgb(235, 232, 232);
}

#time {
  color: rgb(255, 255, 255);
  font-size: 4.5rem;
  text-shadow: 2px 2px 4px $primary-color;
}

#time-break {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    text-shadow: 2px 2px 4px $primary-color;

}

#task {
    text-align: center;
    font-family: "Roboto Condensed";
    border-radius: .5rem;
    outline: none;
    border: none;
    padding: .4rem .8rem;

}

#the-task {
    font-size: 2rem;
}

#submit-task {
    border: 2px $primary-color solid;
    border-radius: .4rem;
    background-color: #fff;
    padding: .2rem .7rem;
    outline: none;
    cursor: pointer;
    &:active {
        transform: translate(0, 5%);
    }
    
}

.container-flex {
    display: flex;
    justify-content: space-between;
    margin: 0 2.5rem;
}

.document-export {
    color: #fff;
    text-decoration: none;
}

.task-text {
    color: rgb(230, 225, 225);
    font-size: 1.38rem;
    font-style: italic;
    opacity: .80
}

.top-styling {
    border: 1px solid #fff;
    padding: .3rem .5rem;
}

.expl {
    font-weight: bolder;
    color: rgb(230, 225, 225);
    cursor: pointer;
    user-select: none;
    font-style: italic;
    &:hover {
        opacity: .7;
        transition: all .8s;
        
    }
}

.toggle-exp-content {
    display: none;
}

.exp-styling {
    color: #fff;
    margin: 0 30%;
    line-height: 2rem;
    font-style: italic;
}



.btn-style {
    padding: .5rem .8rem;
    color: $primary-color;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: .5rem;
    border: 2px solid $primary-color;
    cursor: pointer;
    outline: none;
    
    &:hover {
        background-color: #ff748b;
        transition: .5s ease-in-out;
        color: #fff;
    }

}